<div class='div_main'>
  <div id="wrap_game" class="div_game">
    <app-game [accessToken]="accessToken" [bpAddress]="bpAddress" [userNick]="userNick"></app-game>
  </div>
  <div class="div_explorer">
    <!-- <div id="wrap_tx" class="div_tx">
      <app-transactions [appId]="appId" [bpAddress]="bpAddress"></app-transactions>
    </div>
    <div id="wrap_block" class="div_block">
      <app-blocks [appId]="appId" [bpAddress]="bpAddress"></app-blocks>
    </div>
    
    <div id="wrap_personal" class="div_personal">
      <div class="div_balance">
        <app-balance [appId]="appId" [bpAddress]="bpAddress" [userEmail]="userEmail"></app-balance>
      </div>
      <div class="div_ranking">
        <app-ranking [appId]="appId" [accessToken]="accessToken" [bpAddress]="bpAddress"></app-ranking>
      </div>
    </div> -->
    <div id="wrap_personal" class="div_personal">
      <div class="div_balance">
        <app-balance [appId]="appId" [bpAddress]="bpAddress" [userEmail]="userEmail"></app-balance>
      </div>
      <div class="div_ranking">
        <app-ranking [appId]="appId" [accessToken]="accessToken" [bpAddress]="bpAddress"></app-ranking>
      </div>
    </div>

    <div id="wrap_block" class="div_block">
      <app-blocks [appId]="appId" [bpAddress]="bpAddress"></app-blocks>
    </div>
    <div id="wrap_tx" class="div_tx">
      <app-transactions [bpAddress]="bpAddress"></app-transactions>
    </div>
    
  </div>
</div>